.nav-bar {
  background: linear-gradient(-90deg, #84cf6a, #16c0b0);
}

.card {
  &__img {
    &--inactive {
      filter: brightness(0.5);
    }
  }
  &__info {
    .button--disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
